body{
    text-align: center;
    font-family: sans-serif;
    background-color: #d7e3e8;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#content {
    width: 70%;
}
